.about {
    padding: 20px;
    background-color: #1ea7af;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-top: 30px;
}

.about h1 {
    color: #333333;
    font-size: 32px;
    margin-bottom: 10px;
}
.about p {
    color: #555555;
    font-size: 18px;
    line-height: 1.6;
}