.form {
    border: 2px solid gold;
    box-shadow: 0px 0px 10px 2px gold;
    border-radius: 10px;
    margin: 20px;
    background-color: #052e30;
    padding: 0 auto;
    text-align: center;
    padding: 30px 0;
}

.f {
    text-align: center;
    margin-top: 50px;
}

.text {
    font-size: 30px;
    border-radius: 10px;
}

.button {
    font-size: 21px;
    color: gold;
    background-color: #052e30;
    border: 2px solid gold;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 0px 0px 10px 2px gold;
    cursor: pointer;
}

label {
    font-size: 20px;
    color: gold;
}
