.tell{
    background-color: #1ea7af;
    padding: 20px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    padding-top: 30px;
    text-align: center;
    color: gold;
    font-size: 24px;
}